/*Indecisive Decisions*/
/***************************** */

/* Some is copied from previous projects -CRH 05/24/22 */

/* Overall */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*variables*/

:root {
  --primary-color: #5a0d12;
  --secondary-color: ivory;
  --third-color: #913b41;
  --bg-color: #366276;
  --bg-color2: #81aecc;
  --padding: 20px;
  --blur: 10px;
}

/*general selectors*/

/*--headline with quicklinks*/
header {
	margin: 0 auto;
	position: relative;
	text-align: center;
}

header h2 {
  font-size: 48px;
  padding-left: 25px;
}

header span {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 30px;
}

/*footer*/
footer {
  padding: 20px;
  padding-left: 40px;
  width: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  display: inline-block;
}

footer h2 {
  display: inline-block;
  font-size: 35px;
}

footer span {
  font-size: 25px;
}

.creditLogos {
  padding-right: 40px;
}

footer a {
  padding: 7px;
}

/* Button designs  */
.btnStyle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 3pt var(--third-color);
  padding: 5px 10px;
}

/*hero background image and subtitle*/
/* do we want for start page?  */
.heropg {
  height: 300px;
  width: 100vw;
  margin-bottom: 25px;
  background-image: url(./assets/images/heropgimage.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border: black 1px solid;
}

/*all of main sections*/
body{
    background-color: var(--bg-color2);
}

article {
}

/*within each subsections*/

article div {
}

/*subsection unique attributes*/
.section1 {
}

/*Results page*/
#adviceSlipArea {
  margin: 48px 80px 210px 105px;
  /* border: solid black 1px; */
}

/* //////remove or switch to min-width version, because bulma is mobile-first css??? ////// */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 550px) {
}
